
<%- include('../cabecalho.ejs')%>

    <main class="container">
        
        <div class="page-header">
            <h2>Lista de Artistas</h2>
            <a href="/artista/add" class="btn btn-success">+ Novo Artista</a>
        </div>

        <div class="table-container">
            <table>
                <thead>

                    <tr>
                        <th>Nome</th>
                        <th>País</th>
                        <th>Ano de Início</th>
                        <th>Ações</th>
                        <th>Mais Ações</th>
                       
                         
                    </tr>
                </thead>   
                <tbody>
                    
                    <%artista.forEach(artista=>{%>
                   
                    <tr>
                        <td> <%=artista.nome%></td>
                        <td> <%=artista.pais%></td>
                        <td><%=artista.anoInicio%></td>
                        <td><a href="/artista/del/<%=artista.id%>" class="link">EXCLUIR</a></td>
                        <td><a href="/artista/edt/<%=artista.id%>" class="link">EDITAR</a></td>
                        
                    </tr>
                    <%})%>
                    <tr>
                    
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
