<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Música</h3>
      </header>
      <div class="content">
        <form id="form-musica" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="musica">Nome da Música</label>
              <input id="id" value="<%=musica.nome%>" name="nome" type="text" placeholder="Ex:Streets" required>
            </div>
           <div>
              <label for="artista">Artista</label>
              <input id="id" value="<%=musica.artista%>" name="artista" type="text" placeholder="Ex:dojacat" required>
            </div>
             <div>
              <label for="anoLancamento">Ano de Lançamento</label>
              <input id="id" value="<%=musica.anoLancamento.ano%>" number="anoLancamento" type="text" placeholder="Ex:2021" required>
            </div>
              <label for="duracao">Duração</label>
              <input id="id" value="<%=musica.duracao%>" number="duracao" type="text" placeholder="Ex:2:00" required>
        
            </div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/musica/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Música</button>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>